<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="text-align: center;">Datos Recopilados</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-grid>
      <ion-row class="header-row" style="font-size:xx-small;">
        <ion-col size="2"><b>Linea</b></ion-col>
        <ion-col size="2"><b>Estacion</b></ion-col>
        <ion-col size="2"><b>Fecha</b></ion-col>
        <ion-col size="1.3"><b>Ingreso/Salida</b></ion-col>
        <ion-col size="1.5"><b>Contador</b></ion-col>
        <ion-col size="1.5"><b>Aglomeración</b></ion-col>
        <ion-col size="1.5"><b>Flujo</b></ion-col>
      </ion-row>
      <ion-row class="data-row" *ngFor="let recopilado of datosRecopilador" style="font-size: small;">
        <ion-col size="2">{{ recopilado.linea }}</ion-col>
        <ion-col size="2">{{ recopilado.estacion }}</ion-col>
        <ion-col size="2" style="font-size: x-small;">{{ recopilado.fecha }}</ion-col>
        <ion-col size="1.3">{{ recopilado.tipoIngreso }}</ion-col>
        <ion-col size="1.5">{{ recopilado.contador }}</ion-col>
        <ion-col size="1.5">{{ recopilado.aglomeracion }}</ion-col>
        <ion-col size="1.5">{{ recopilado.flujo }}</ion-col>
        
        <ion-button style="font-size: x-small;" (click)="aprobarDato(recopilado)" [ngClass]="{'aprobado': recopilado.aprobado}">{{ recopilado.aprobado ? 'Aprobado' : 'Aprobar' }}</ion-button>
        
        

      </ion-row>
    </ion-grid>
    <ion-button style="font-size: small;" (click)="guardarDatosAprobados()">Guardar Datos Aprobados</ion-button>
    
 
</ion-content>