<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center titulo" style="color: whitesmoke;">Cambiar Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <br><br>
  <div style="display: flex; justify-content: center;">
    <a href="/login"><img width="200px" [src]="'assets/logo-duoc.png'" alt="Descripción de la imagen"></a>
  </div>
  <br><br>
  <ion-list class="lista">
    <div class="contraseña">
      <ion-item>
        <ion-input class="shake texto"  [(ngModel)]="email" type="texto"placeholder="Vespucio@Duocuc.cl"  labelPlacement="floating">
          <div slot="label">
            <ion-text class="texto">Email</ion-text>
            
          </div>
          
        </ion-input>
      </ion-item>
      <br>
      
    </div>
  </ion-list> 
  <br>
  <div style="text-align:center" class="boton">
    
    

    <ion-button class="botones" (click)="resetpassword()" color="amarillo-duoc"><b>Confirmar</b></ion-button>
    <ion-button class="botones"  (click)="animarLimpiar()" color="amarillo-duoc"><b>Limpiar campos</b></ion-button>
    <a (click)="login()"><ion-button class="botones"   color="amarillo-duoc"><b>Volver</b></ion-button></a>
  </div>
  
  <div id="mensajeCambioContrasena" class="mensaje"></div>
  <div class="imagen">
    <img src="../../assets/icon/fondoreset.png" alt="">
  </div>
</ion-content>