<ion-header [translucent]="true">
  <ion-toolbar class="ion-text-center">
    <ion-title class="titulo" style="color: whitesmoke;">Escaneo de QR</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="detenerEscaneo boton">
    <ion-button id="detenerEscaneoId" (click)="volverHome()" class="botones" color="amarillo-duoc" color="amarillo-duoc" expand="block">
      <ion-icon name="stop-circle-outline" class="margen-der"></ion-icon>
      <b>Detener Escaneo de QR</b>
    </ion-button>
  </div>

  <div class="mensajeQR">
    <h1 class="texto ion-text-center">Escaneando QR<span class="punto1">.</span><span class="punto2">.</span><span class="punto3">.</span></h1>
</div>
</ion-content>