<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center titulo" style="color: whitesmoke;">Registrar Estacion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <br>
  <img style="width: auto;" src="../../assets/icon/azul2.png" alt="">
  <form [formGroup]="formularioEstacion" (ngSubmit)="onSubmit()">
    <ion-item style="margin-top: 20px;" class="texto">
      <ion-input type="text" formControlName="nombre" labelPlacement="floating" placeholder="Santa Ana">
        <div slot="label">
          <ion-text class="texto">Nombre Estacion</ion-text>
        </div>
      </ion-input>
    </ion-item>
    <ion-item style="margin-top: 20px;" class="texto">
      <ion-input type="number" formControlName="entradas" labelPlacement="floating" placeholder="2">
        <div slot="label">
          <ion-text class="texto">Entradas</ion-text>
        </div>
      </ion-input>
    </ion-item>
    <ion-item style="margin-top: 20px;" class="texto">
      <ion-select formControlName="linea_1" label="Linea" [(ngModel)]="selectedTurn" placeholder="Seleccionar" (ionChange)="onChangeLinea()">
        <ion-select-option *ngFor="let linea of lineasOpciones" [value]="linea">{{ linea }}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-button class="botones" color="amarillo-duoc" style="margin-top: 40px;" expand="full" type="submit">Crear Estacion</ion-button>
  </form>
  <ion-button class="botones" color="amarillo-duoc" (click)="volver()" style="margin-top: 10px;" expand="full" type="submit">Volver</ion-button>
  <img style="width: auto;" src="assets/footer.png" id="iconoAppId">
</ion-content>