<ion-header [translucent]="true">
  <div class="banner">
    <ion-toolbar>
      <ion-title class="ion-text-center titulo" style="color: whitesmoke;">
        MiAsistencia
      </ion-title>
    </ion-toolbar>
  </div>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="logout">
    <ion-button id="logoutId" (click)="salir()" class="botones" color="amarillo-duoc" color="amarillo-duoc" expand="block">
      <ion-icon name="log-out-outline" class="margen-der"></ion-icon>
      <b>Cerrar Sesión</b>
    </ion-button>
  </div>

  <div class="saludo">
    <ion-title class="ion-text-center texto">
      <h1>Bienvenido!</h1> 
        <h3><b>{{usuario}}</b></h3><!--Aquí toca esperar a que los pibes hagan el formulario, para poner la variable en reemplazo del texto--> 
    </ion-title>
  </div>
  <div class="contenido">
    <!--El botón activa la cámara y la función QR ('05/09/2023': Agregué la funcionalidad de routerLink, ya que el profe dijo que teníamos que redirigir
      del Home a una pestaña que simule el escaneo de QR)-->
   
    <ion-list>

      <ion-item>
        <ion-button (click)="escanearQR()" class="botones largo" color="amarillo-duoc" style="margin-top: 15px;">
          <ion-icon name="enter-outline" class="margen-der"></ion-icon>
          <b>Registrar Asistencia QR</b>
        </ion-button>
      </ion-item>

      <ion-item>
        <ion-button (click)="registrarAsistencia()" class="botones largo" color="amarillo-duoc" style="margin-top: 15px;" >
          <ion-icon name="enter-outline" class="margen-der"></ion-icon>
          <b>Formulario Asistencia</b>
        </ion-button>
      </ion-item>

      <ion-item>
        <ion-button (click)="verAsistencia()" class="botones largo" color="amarillo-duoc" style="margin-top: 15px;">
          <ion-icon name="enter-outline" class="margen-der"></ion-icon>
          <b>Ver Asistencias</b>
        </ion-button>
      </ion-item>

      <ion-item>
        <ion-button (click)="pokemon()" class="botones largo" color="amarillo-duoc" style="margin-top: 15px;">
          <ion-icon name="enter-outline" class="margen-der"></ion-icon>
          <b>Pokemón Sorpresa</b>
        </ion-button>
      </ion-item>
    
    
    </ion-list>

  </div>

  <div class="imagen">
    <img src="../../assets/icon/homefondo.png" alt="">
  </div>
</ion-content>
