<ion-content>
  <!-- Lista de usuarios -->
  <ion-list>
    <ion-item *ngFor="let estacion of estacionfiltrada">
      {{ estacion.nombre }} - {{ estacion.linea_1 }}
      <ion-button (click)="editarEstacion(estacion)">Agregar Combinación</ion-button>
    </ion-item>
  </ion-list>

  <!-- Detalles del usuario seleccionado -->
  <ion-card *ngIf="estacionSeleccionada">
    <ion-card-content>
      <ion-item>
        <ion-label>Nombre</ion-label>
        <ion-input [(ngModel)]="estacionSeleccionada.nombre" readonly></ion-input>
      </ion-item>
          <ion-item style="margin-top: 20px;" class="texto">
      <ion-select  label="Segunda Linea" [(ngModel)]="estacionSeleccionada.linea_2" placeholder="Seleccionar" (ionChange)="onChangeLinea()">
        <ion-select-option *ngFor="let linea of lineasOpciones" [value]="linea">{{ linea }}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item style="margin-top: 20px;" class="texto">
      <ion-select  label="Tercera Linea" [(ngModel)]="estacionSeleccionada.linea_3" placeholder="Seleccionar" (ionChange)="onChangeLinea()">
        <ion-select-option *ngFor="let linea of lineasOpciones" [value]="linea">{{ linea }}</ion-select-option>
      </ion-select>
    </ion-item>
    </ion-card-content>
  </ion-card>

  <!-- Botón para guardar cambios -->
  <ion-button (click)="actualizarEstacion()" *ngIf="estacionSeleccionada">Guardar Cambios</ion-button>
</ion-content>