<ion-content style="text-align: center;">
  <div class="imagen">
    <img src="../../assets/icon/azul2.png" alt="">
  </div>
  <div class="bienvenida">
    <h1 class="texto" style="text-align: center;">Registra tu usuario </h1>
    <h6 class="texto" style="text-align: center;">Ingrese sus datos para registrar su usuario.</h6>
  </div>
  <br>
  <ion-list class="lista">
    <form [formGroup]="formRegistro">
      <!-- Nombre -->
      <ion-item class="texto">
        <ion-input formControlName="nombre" labelPlacement="floating" placeholder="Juan Perez">
          <div slot="label">
            <ion-text class="texto">Nombre</ion-text>
          </div>
        </ion-input>
        <br>
      </ion-item>

      <!-- Email -->
      <ion-item class="texto">
        <ion-input type="email" formControlName="email" labelPlacement="floating" placeholder="ejemplo@duocuc.cl">
          <div slot="label">
            <ion-text class="texto">Email</ion-text>
          </div>
        </ion-input>
      </ion-item>

      <!-- Contraseña -->
      <ion-item class="texto">
        <ion-input formControlName="contrasena" type="password" labelPlacement="floating" placeholder="**********">
          <div slot="label">
            <ion-text class="texto">Contraseña</ion-text>
          </div>
        </ion-input>
      </ion-item>

      <!-- rol -->
      <ion-item class="texto">
        <ion-label>Rol</ion-label>
        <ion-select formControlName="rol" placeholder="Rol">
          <ion-select-option value="Recopilador">Recopilador</ion-select-option>
          <ion-select-option value="Analista">Analista</ion-select-option>
        </ion-select>
      </ion-item>

    </form>
  </ion-list>

  <br>
  <ion-button style="margin: 10px;" expand="block" class="botones" color="amarillo-duoc" (click)="registrarUsuario()"
    type="submit">
    <b>Registrar</b>
  </ion-button>

  <ion-button style="margin: 10px;" expand="block" class="botones" color="amarillo-duoc" [routerLink]="['/login']">
    <b>Volver</b>
  </ion-button>
</ion-content>