<ion-content  style="text-align: center;">
  <div class="imagen">
    <img src="../../assets/icon/azul.png" alt="">
  </div>
  <div class="bienvenida">
    <h1 class="texto" style="text-align: center;">¡Bienvenido!</h1>
    <h6 class="texto" style="text-align: center;">Ingrese sus credenciales DUOC UC para ingresar.</h6>
  </div>
  <br>
  <ion-list class="lista">
    <form [formGroup]="formLogin">
      <ion-item>
        <ion-input id="usuario" class="shake texto" formControlName="email" labelPlacement="floating" placeholder="ej.ejemplo">
          <div slot="label">
            <ion-text class="texto">Usuario</ion-text>
          </div>
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-input id="contrasena" class="shake texto" formControlName="password" type="password" labelPlacement="floating" placeholder="**********">
          <div slot="label">
            <ion-text class="texto">Contraseña</ion-text>
          </div>
        </ion-input>
      </ion-item>
    </form>
  </ion-list>
  <br>
  <ion-text style="text-align: center;">
    <a (click)="reset()" style="display: block; width: 100%;">¿Olvidaste tu contraseña?</a>
  </ion-text>  
  <br>
  <ion-button style="margin: 10px;" expand="block" class="botones" color="amarillo-duoc" (click)="ingresar()"><b>Ingresar</b></ion-button>
  <ion-button style="margin: 10px;" expand="block" class="botones" color="amarillo-duoc" (click)="animarLimpiar()"><b>Limpiar</b></ion-button>
  <br>
  <img src="assets/footer.png" id="iconoAppId">
</ion-content>
