<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center titulo" style="color: whitesmoke;">Registrar Asistencia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <br>
  <img src="../../assets/logo-duoc.png" style="width: 66%; margin-left: 60px;" alt="">
  <form [formGroup]="formulario" (ngSubmit)="onSubmit()">

    <ion-item style="margin-top: 20px;" class="texto">
      <ion-select formControlName="asignatura" label="Asignatura" placeholder="Seleccionar" (ionChange)="onChangeAsignatura()">
        <ion-select-option *ngFor="let asignatura of asignaturaOpciones" [value]="asignatura">{{ asignatura }}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item style="margin-top: 20px;" class="texto">
      <ion-select formControlName="seccion" label="Sección" placeholder="Seleccionar" (ionChange)="onChangeAsignatura()">
        <ion-select-option *ngFor="let seccion of seccionOpciones[formulario.get('asignatura')?.value || '']" [value]="seccion">{{ seccion }}</ion-select-option>
      </ion-select>
    </ion-item>
  
  
    <ion-button class="botones" color="amarillo-duoc" style="margin-top: 40px;" expand="full" type="submit">Enviar</ion-button>
    
  </form>
  <ion-button class="botones" color="amarillo-duoc" (click)="home()" style="margin-top: 10px;" expand="full" type="submit">Volver</ion-button>
  
</ion-content>