ion-toolbar{
    --ion-toolbar-background: var(--morado-duoc);
}

ion-content {
    --background: url(../../assets/fond.png) no-repeat center center fixed;
    background-size: cover;
  }

  ion-select-option {
    --ion-color-step-850: black;
  }
  
  
  
  
  